@import "@/assets/scss/variabled";
@import "@/assets/scss/reset.scss";
@import "@/assets/scss/fade-anim.scss";

@media screen and (max-width: $mobile) {
  template {
    margin-bottom: 56px;
  }
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
