@import "@/assets/scss/variabled";
@import "@/assets/scss/font.scss";
@import "@/assets/scss/reset.scss";

main {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    45deg,
    $gradient-top 0%,
    $gradient-midtop 19%,
    $gradient-midbottom 60%,
    $gradient-bottom 100%
  );
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  margin-top: 42px;
  height: calc(100vh - 56px - 61px);
  overflow: scroll;
  padding: 32px 24px;
}

.home-recommend-box {
  width: 100%;
  margin-top: 24px;
}

.home-recommend-box:first-child {
  margin-top: 0;
}

.home-recommend-title-box {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-left: 6px;
  padding-right: 6px;
}

.home-recommend-title {
  font-weight: 700;
  font-size: 24px;
}

.home-recommend-title-des {
  font-size: 14px;
  opacity: 0.75;
}

.home-recommend-list {
  display: grid;
  grid-template-columns: repeat(10, calc(100vw - 48px));
  margin-top: 16px;
  overflow-x: scroll;
}

.home-recommend-retry {
  margin-top: 16px;
  background-image: linear-gradient(to right, $gradient-top 0%, $gradient-midtop 19%, $gradient-midbottom 60%, $gradient-bottom 100%);
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  display: block;
}

.home-recommend-retry > p {
  color: white;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

.home-filter-list {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  grid-gap: 8px;
  margin-top: 16px;
}

.home-filter-item {
  border: 1px solid grey;
  display: flex;
  align-items: center;
  padding: 16px 24px;
  border-radius: 8px;
}

.home-filter-item > i {
  margin-right: 16px;
  font-size: 18px;
}

.home-filter-item > p {
  font-weight: 500;
  font-size: 18px;
}
